In [1]:
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
from dateutil.parser import parse
import pandas as pd
from decouple import config

In [2]:
connector = DatabaseConnector()
filepath = 'db_creds.yaml'
credentials = connector.read_db_creds(filepath)
engine1, engine2 = connector.init_db_engine(credentials)
number_of_stores_ep = config('NO_OF_STORES_EP')
retrieve_a_store_ep= config('RETRIEVE_A_STORE_EP')
headers = credentials['HEADER_DETAILS']

extractor = DataExtractor()
store_number = extractor.list_number_of_stores(number_of_stores_ep, headers)
store_df = extractor.retrieve_stores_data(store_number, retrieve_a_store_ep, headers)
print(store_df.info())

Retrieving stores dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          451 non-null    int64
 1   address        451 non-null    object
 2   longitude      451 non-null    object
 3   lat            11 non-null     object
 4   locality       451 non-null    object
 5   store_code     451 non-null    object
 6   staff_numbers  451 non-null    object
 7   opening_date   451 non-null    object
 8   store_type     451 non-null    object
 9   latitude       450 non-null    object
 10  country_code   451 non-null    object
 11  continent      451 non-null    object
dtypes: int64(1), object(11)
memory usage: 42.4+ KB
None

In [3]:
store_df.head(12)

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,N/A,N/A,N/A,N/A,WEB-1388012W,325,2010-06-12,Web Portal,None,GB,Europe
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,None,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,None,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,None,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,None,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
5,5,Flat 92u\nChristian harbors\nPort Charlotte\nN...,53.38333,None,Gainsborough,GA-CAD01AC2,36,1995-05-15,Local,-0.76667,GB,Europe
6,6,"7 Gillian rue\nWest Robertside\nPH4 8NY, Ruthe...",55.82885,None,Rutherglen,RU-C603E990,92,2001-01-04,Super Store,-4.21376,GB,Europe
7,7,"Lilija-Heß-Allee 660\n34566 Regensburg, Stuttgart",48.78232,None,Stuttgart,ST-229D997E,34,2000-06-01,Local,9.17702,DE,Europe
8,8,"510 Jill Mill\nSouth Laura, FL 38723, Kaukauna",44.27804,None,Kaukauna,KA-FA7ED3B8,31,2022-09-05,Local,-88.27205,US,America
9,9,"3 Lee valleys\nWest Janetview\nDY4M 2RL, Hartley",51.38673,None,Hartley,HA-974352FE,20,2004-09-11,Local,0.30367,GB,Europe
10,10,"8 Gareth skyway\nSimmonsview\nSW4 7PL, Rutherglen",55.82885,None,Rutherglen,RU-9F1136B4,32,October 2012 08,Local,-4.21376,GB,Europe
11,11,"Bergerstr. 1/3\n59183 Seelow, Siegburg",50.80019,None,Siegburg,SI-ECD52CD9,25,July 2015 14,Local,7.20769,DE,Europe

In [4]:
store_df.isna().mean()*100

index             0.000000
address           0.000000
longitude         0.000000
lat              97.560976
locality          0.000000
store_code        0.000000
staff_numbers     0.000000
opening_date      0.000000
store_type        0.000000
latitude          0.221729
country_code      0.000000
continent         0.000000
dtype: float64

In [5]:
store_df.continent.value_counts()

continent
Europe        383
America        32
eeEurope       24
NULL            3
eeAmerica       2
QMAVR5H3LD      1
LU3E036ZD9      1
5586JCLARW      1
GFJQ2AAEQ8      1
SLQBD982C0      1
XQ953VS0FG      1
1WZB1TE1HL      1
Name: count, dtype: int64

In [11]:
stores = store_df.copy()

In [12]:
stores.replace('NULL', float("NaN"), inplace= True)

In [13]:
stores.dropna(axis = 0, how = 'all', inplace=True)

In [15]:
stores.continent.value_counts()

continent
Europe        383
America        32
eeEurope       24
eeAmerica       2
QMAVR5H3LD      1
LU3E036ZD9      1
5586JCLARW      1
GFJQ2AAEQ8      1
SLQBD982C0      1
XQ953VS0FG      1
1WZB1TE1HL      1
Name: count, dtype: int64

In [16]:
stores.value_counts()

index  address     longitude   lat         locality    store_code  staff_numbers  opening_date  store_type  latitude    country_code  continent
63     6FWDZHD7PW  1ZVU03X2P6  13KJZ890JH  9IBH8Y4Z0S  NRQKZWJ9OZ  BIP8K8JJW2     ZCXWWKF45G    QP74AHEQT0  1CJ5OAU4BR  YELVM536YT    QMAVR5H3LD    1
172    UBCIFQLSNY  Q1TJY8H1ZH  2XE1OWOC23  1T6B406CI8  QIUU9SVP51  SKBXAXF5G5     7AHXLXIUEF    O0QJIRC943  3ZR3F89D97  FP8DLXQVGH    LU3E036ZD9    1
231    RC99UKMZB2  2YBZ1440V6  OXVE5QR07O  6LVWPU1G64  Y8J0Z2W8O9  2429OB3LMM     0OLAK2I6NS    50IB01SFAZ  L13EQEQODP  HMHIFNLOBN    5586JCLARW    1
333    X349GIDWKU  O7NF1FZ74Y  VKA5I8H32X  RX9TCP2RGB  ISEE8A57FE  74BY7HSB6P     A3PMVM800J    0RSNUU3DF5  J3BPB68Z1J  F3AO8V2LHU    GFJQ2AAEQ8    1
381    ZBGB54ID4H  SKO4NMRNNF  LACCWDI0SB  CQMHKI78BX  T0R2CQBDUS  GT1FO6YGD4     GMMB02LA9V    B4KVQB3P5Y  AJHOMDOHZ4  OH20I92LX3    SLQBD982C0    1
414    XTUAV57DP4  ID819KG3X5  A3O5CBWAMD  RY6K0AUE7F  TUOKF5HAAQ  FRTGHAA34B     13PIY8GD1H    X0FE7E2EOG  AE7EEW4HSS  OYVW925ZL8    XQ953VS0FG    1
447    K0ODETRLS3  K8CXLZDP07  UXMWDMX1LC  3VHFDNP8ET  9D4LK7X4LZ  D23PCWSM6S     36IIMAQD58    NN04B3F6UQ  JZP8MIJTPZ  B3EH2ZGQAV    1WZB1TE1HL    1
Name: count, dtype: int64

In [44]:
libg = stores.copy()

In [45]:
gibberish_values = ['QMAVR5H3LD', 'LU3E036ZD9', '5586JCLARW', 'GFJQ2AAEQ8', 'SLQBD982C0', 'XQ953VS0FG', '1WZB1TE1HL']
filter = libg[~libg.continent.isin(gibberish_values)]
filter

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,N/A,N/A,N/A,N/A,WEB-1388012W,325,2010-06-12,Web Portal,None,GB,Europe
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,None,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,None,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,None,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,None,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
445,445,"Flat 7\nStephanie lake\nMorrisside\nHP8 8LH, C...",50.76306,None,Cowes,CO-473A9FBB,94,2008-06-08,Super Store,-1.29772,GB,Europe
446,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,None,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
448,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,None,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,None,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,None,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [48]:
filter.continent.value_counts()

continent
Europe       383
America       32
eeEurope      24
eeAmerica      2
Name: count, dtype: int64

In [49]:
filter.continent.replace('eeEurope', 'Europe', inplace= True)
filter.continent.replace('eeAmerica', 'America', inplace= True)

C:\Users\mohdi\AppData\Local\Temp\ipykernel_22152\3149761909.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  filter.continent.replace('eeEurope', 'Europe', inplace= True)
C:\Users\mohdi\AppData\Local\Temp\ipykernel_22152\3149761909.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter.continent.replace('eeEurope', 'Europe', inplace= True)
C:\Users\mohdi\AppData\Local\Temp\ipykernel_22152\3149761909.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  filter.continent.replace('eeAmerica', 'America', inplace= True)
C:\Users\mohdi\AppData\Local\Temp\ipykernel_22152\3149761909.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter.continent.replace('eeAmerica', 'America', inplace= True)

In [50]:
filter.continent.value_counts()

continent
Europe     407
America     34
Name: count, dtype: int64

In [22]:
filter.info()

<class 'pandas.core.frame.DataFrame'>
Index: 444 entries, 0 to 450
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          444 non-null    int64
 1   address        441 non-null    object
 2   longitude      441 non-null    object
 3   lat            1 non-null      object
 4   locality       441 non-null    object
 5   store_code     441 non-null    object
 6   staff_numbers  441 non-null    object
 7   opening_date   441 non-null    object
 8   store_type     441 non-null    object
 9   latitude       440 non-null    object
 10  country_code   441 non-null    object
 11  continent      441 non-null    object
dtypes: int64(1), object(11)
memory usage: 45.1+ KB

In [51]:
filter.head()

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,N/A,N/A,N/A,N/A,WEB-1388012W,325,2010-06-12,Web Portal,None,GB,Europe
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,None,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,None,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,None,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,None,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe

In [52]:
filter.country_code.value_counts()

country_code
GB    266
DE    141
US     34
Name: count, dtype: int64

In [53]:
filter.latitude.unique()

array([None, '-0.74934', '12.16179', '-2.1875', '-1.48119', '-0.76667',
       '-4.21376', '9.17702', '-88.27205', '0.30367', '7.20769',
       '-1.99421', '-88.3162', '9.85', '-0.32247', '-1.32471', '-1.5443',
       '-1.47217', '-0.2', '0.93333', '-2.98333', '-0.36053', '9.72749',
       '-2.09814', '-0.29825', '-4.22398', '11.32903', '-5.53715',
       '9.02596', '8.96317', '-1.29243', '-2.58736', '-1.29772',
       '1.15597', '-71.05977', '13.29371', '8.70745', '-82.35176',
       '8.77155', '-77.96389', '13.10984', '-0.33525', '-2.68758',
       '-82.45426', '9.5586', '8.91229', '6.74549', '7.11393', '-1.08593',
       '-119.01677', '9.5926', '-3.52751', '0.75', '-73.9625',
       '-91.73625', '7.36027', '9.47629', '-117.14392', '0.47713',
       '8.51667', '6.9747', '9.22796', '8.61839', '1.26738', '10.98461',
       '-2.52398', '-74.01042', '-1.06667', '6.8625', '12.1369',
       '-4.0573', '-3.05814', '8.77069', '-84.62081', '10.18527',
       '8.64409', '13.28702', '-0.91979', '10.03988', '10.30215',
       '-2.01111', '8.86704', '-74.07764', '-78.87836', '11.37703', nan,
       '-3.05', '-122.39168', '8.4493', '13.32127', '9.15214',
       '-89.99038', '-74.96933', '-2.12139', '8.63333', '-74.13653',
       '-80.66756', '9.20427', '-69.96533', '7.02238', '10.5511',
       '-104.22884', '-82.46148', '-77.4286', '6.51352', '-97.92977',
       '-73.78458', '-88.64235', '-88.81395', '-73.20483', '11.34046',
       '13.31783', '11.18709', '7.2278', '-111.89903', '-122.38731',
       '-93.263', '-87.882'], dtype=object)

In [54]:
filter.store_type.value_counts()

store_type
Local          255
Super Store     89
Mall Kiosk      51
Outlet          45
Web Portal       1
Name: count, dtype: int64

In [155]:
filter.store_type = filter.store_type.astype('category')

C:\Users\mohdi\AppData\Local\Temp\ipykernel_22152\3721507504.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter.store_type = filter.store_type.astype('category')

In [156]:
filter.info()

<class 'pandas.core.frame.DataFrame'>
Index: 440 entries, 0 to 450
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          440 non-null    int64
 1   address        440 non-null    object
 2   longitude      440 non-null    object
 3   lat            1 non-null      object
 4   locality       440 non-null    object
 5   store_code     440 non-null    object
 6   staff_numbers  440 non-null    object
 7   opening_date   428 non-null    datetime64[ns]
 8   store_type     440 non-null    category
 9   latitude       439 non-null    object
 10  country_code   440 non-null    object
 11  continent      440 non-null    object
dtypes: category(1), datetime64[ns](1), int64(1), object(9)
memory usage: 58.1+ KB

In [55]:
filter.opening_date.value_counts()

opening_date
2004-01-23     3
2011-03-27     2
1998-09-29     2
2014-05-21     2
2006-10-03     2
              ..
2005-08-01     1
May 2003 27    1
1997-02-07     1
2003-04-07     1
2001-05-12     1
Name: count, Length: 432, dtype: int64

In [56]:
filter.opening_date = pd.to_datetime(filter.opening_date, infer_datetime_format=True, errors = 'coerce')

C:\Users\mohdi\AppData\Local\Temp\ipykernel_22152\2138061072.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  filter.opening_date = pd.to_datetime(filter.opening_date, infer_datetime_format=True, errors = 'coerce')
C:\Users\mohdi\AppData\Local\Temp\ipykernel_22152\2138061072.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter.opening_date = pd.to_datetime(filter.opening_date, infer_datetime_format=True, errors = 'coerce')

In [57]:
filter.opening_date.unique()

<DatetimeArray>
['2010-06-12 00:00:00', '1996-10-25 00:00:00', '2013-04-12 00:00:00',
 '2014-01-02 00:00:00', '2019-09-09 00:00:00', '1995-05-15 00:00:00',
 '2001-01-04 00:00:00', '2000-06-01 00:00:00', '2022-09-05 00:00:00',
 '2004-09-11 00:00:00',
 ...
 '2022-08-20 00:00:00', '2017-01-14 00:00:00', '2020-12-15 00:00:00',
 '2019-10-30 00:00:00', '2014-06-04 00:00:00', '2008-06-08 00:00:00',
 '2005-05-12 00:00:00', '1998-05-14 00:00:00', '2020-10-17 00:00:00',
 '2001-05-12 00:00:00']
Length: 421, dtype: datetime64[ns]

In [58]:
filter.staff_numbers.unique()

array(['325', '34', '92', '69', '35', '36', '31', '20', '32', '25', '138',
       '38', '39', '33', '109', '8', '119', '28', '29', '27', 'J78', '96',
       '135', '30', '90', '120', '50', '75', '118', '37', '67', '26',
       '40', '6', '22', '24', '83', '82', '117', '7', '21', '132', '131',
       '130', '70', '23', '51', '127', '4', '110', '5', '81', '85', '41',
       '57', '102', '103', '68', '99', '66', '124', '74', '87', '122',
       '112', '100', '71', '30e', '128', '76', '77', '137', '111', '58',
       nan, '56', '72', '80', '101', '93', '73', '80R', '129', '60',
       '114', '52', '63', '78', '113', '94', '134', '84', '59', '108',
       'A97', '89', '53', '3n9', '106', '48', '133', '107', '62', '86',
       '139', '98', '61'], dtype=object)

In [75]:

# Remove non-digit characters
filter.staff_numbers = filter.staff_numbers.str.replace(r'\D', '', regex=True)

# # Convert column to numeric, coerce errors
filter.staff_numbers = pd.to_numeric(filter.staff_numbers, errors='coerce')

filter.staff_numbers.nunique()

C:\Users\mohdi\AppData\Local\Temp\ipykernel_22152\78093435.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter.staff_numbers = filter.staff_numbers.str.replace(r'\D', '', regex=True)
C:\Users\mohdi\AppData\Local\Temp\ipykernel_22152\78093435.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter.staff_numbers = pd.to_numeric(filter.staff_numbers, errors='coerce')

102

In [88]:
filter.info()

<class 'pandas.core.frame.DataFrame'>
Index: 444 entries, 0 to 450
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          444 non-null    int64
 1   address        441 non-null    object
 2   longitude      441 non-null    object
 3   lat            1 non-null      object
 4   locality       441 non-null    object
 5   store_code     441 non-null    object
 6   staff_numbers  441 non-null    float64
 7   opening_date   429 non-null    datetime64[ns]
 8   store_type     441 non-null    object
 9   latitude       440 non-null    object
 10  country_code   441 non-null    object
 11  continent      441 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(1), object(9)
memory usage: 45.1+ KB

In [89]:
for index, val in enumerate(filter.staff_numbers):
    print(index, val)

0 325.0
1 34.0
2 92.0
3 69.0
4 35.0
5 36.0
6 92.0
7 34.0
8 31.0
9 20.0
10 32.0
11 25.0
12 36.0
13 138.0
14 38.0
15 39.0
16 33.0
17 36.0
18 34.0
19 109.0
20 8.0
21 25.0
22 35.0
23 38.0
24 119.0
25 28.0
26 29.0
27 29.0
28 25.0
29 27.0
30 34.0
31 78.0
32 96.0
33 135.0
34 28.0
35 30.0
36 31.0
37 29.0
38 28.0
39 90.0
40 34.0
41 120.0
42 50.0
43 75.0
44 118.0
45 37.0
46 67.0
47 26.0
48 20.0
49 30.0
50 40.0
51 36.0
52 8.0
53 36.0
54 6.0
55 25.0
56 22.0
57 24.0
58 83.0
59 138.0
60 82.0
61 27.0
62 32.0
63 117.0
64 22.0
65 7.0
66 21.0
67 132.0
68 36.0
69 7.0
70 37.0
71 29.0
72 131.0
73 130.0
74 26.0
75 70.0
76 40.0
77 20.0
78 29.0
79 23.0
80 51.0
81 118.0
82 34.0
83 127.0
84 4.0
85 33.0
86 34.0
87 135.0
88 30.0
89 110.0
90 30.0
91 5.0
92 20.0
93 81.0
94 7.0
95 4.0
96 21.0
97 28.0
98 6.0
99 85.0
100 41.0
101 57.0
102 4.0
103 7.0
104 33.0
105 33.0
106 20.0
107 37.0
108 34.0
109 7.0
110 35.0
111 38.0
112 21.0
113 102.0
114 29.0
115 36.0
116 69.0
117 29.0
118 30.0
119 20.0
120 21.0
121 20.0
122 31.0
123 127.0
124 82.0
125 20.0
126 103.0
127 32.0
128 68.0
129 37.0
130 31.0
131 90.0
132 37.0
133 6.0
134 31.0
135 83.0
136 99.0
137 29.0
138 66.0
139 51.0
140 24.0
141 37.0
142 7.0
143 39.0
144 29.0
145 29.0
146 21.0
147 124.0
148 74.0
149 8.0
150 87.0
151 6.0
152 34.0
153 26.0
154 23.0
155 25.0
156 7.0
157 22.0
158 23.0
159 122.0
160 25.0
161 28.0
162 38.0
163 5.0
164 23.0
165 31.0
166 112.0
167 36.0
168 23.0
169 8.0
170 100.0
171 26.0
172 35.0
173 71.0
174 30.0
175 6.0
176 33.0
177 30.0
178 69.0
179 99.0
180 20.0
181 27.0
182 40.0
183 24.0
184 28.0
185 34.0
186 33.0
187 81.0
188 25.0
189 130.0
190 25.0
191 128.0
192 7.0
193 22.0
194 138.0
195 27.0
196 30.0
197 76.0
198 77.0
199 137.0
200 119.0
201 38.0
202 20.0
203 85.0
204 131.0
205 36.0
206 51.0
207 33.0
208 32.0
209 31.0
210 111.0
211 58.0
212 30.0
213 28.0
214 33.0
215 nan
216 20.0
217 33.0
218 82.0
219 33.0
220 82.0
221 118.0
222 27.0
223 37.0
224 33.0
225 56.0
226 72.0
227 87.0
228 32.0
229 40.0
230 80.0
231 101.0
232 4.0
233 70.0
234 131.0
235 22.0
236 93.0
237 6.0
238 39.0
239 22.0
240 20.0
241 73.0
242 7.0
243 23.0
244 37.0
245 80.0
246 129.0
247 6.0
248 38.0
249 7.0
250 4.0
251 28.0
252 23.0
253 6.0
254 38.0
255 30.0
256 72.0
257 33.0
258 60.0
259 23.0
260 20.0
261 37.0
262 23.0
263 28.0
264 32.0
265 111.0
266 34.0
267 34.0
268 24.0
269 27.0
270 22.0
271 114.0
272 52.0
273 137.0
274 38.0
275 31.0
276 37.0
277 28.0
278 23.0
279 132.0
280 38.0
281 20.0
282 4.0
283 63.0
284 70.0
285 30.0
286 78.0
287 23.0
288 40.0
289 6.0
290 8.0
291 7.0
292 66.0
293 24.0
294 113.0
295 20.0
296 4.0
297 4.0
298 6.0
299 68.0
300 78.0
301 31.0
302 137.0
303 28.0
304 37.0
305 90.0
306 40.0
307 39.0
308 38.0
309 35.0
310 94.0
311 5.0
312 29.0
313 4.0
314 77.0
315 27.0
316 93.0
317 32.0
318 134.0
319 96.0
320 7.0
321 84.0
322 5.0
323 22.0
324 36.0
325 59.0
326 22.0
327 108.0
328 4.0
329 6.0
330 80.0
331 33.0
332 29.0
333 32.0
334 77.0
335 34.0
336 27.0
337 97.0
338 89.0
339 5.0
340 134.0
341 36.0
342 28.0
343 34.0
344 53.0
345 32.0
346 39.0
347 40.0
348 36.0
349 4.0
350 7.0
351 28.0
352 20.0
353 28.0
354 113.0
355 36.0
356 24.0
357 35.0
358 30.0
359 38.0
360 32.0
361 26.0
362 40.0
363 25.0
364 7.0
365 25.0
366 36.0
367 96.0
368 59.0
369 24.0
370 29.0
371 39.0
372 21.0
373 37.0
374 26.0
375 33.0
376 39.0
377 7.0
378 51.0
379 23.0
380 25.0
381 68.0
382 29.0
383 28.0
384 70.0
385 29.0
386 30.0
387 40.0
388 31.0
389 106.0
390 7.0
391 33.0
392 20.0
393 31.0
394 33.0
395 5.0
396 38.0
397 28.0
398 31.0
399 73.0
400 nan
401 35.0
402 37.0
403 48.0
404 21.0
405 119.0
406 32.0
407 32.0
408 5.0
409 25.0
410 129.0
411 124.0
412 21.0
413 133.0
414 38.0
415 107.0
416 20.0
417 21.0
418 62.0
419 86.0
420 37.0
421 35.0
422 24.0
423 134.0
424 32.0
425 130.0
426 40.0
427 77.0
428 39.0
429 139.0
430 8.0
431 nan
432 68.0
433 35.0
434 29.0
435 23.0
436 22.0
437 40.0
438 98.0
439 94.0
440 61.0
441 33.0
442 35.0
443 36.0

In [96]:
filter.at[431,'staff_numbers']= float('NaN')

In [151]:
filter.iloc[431, [0,1,2,3,4,5,6,7,8,9,10]]

index                                                          441
address          Flat 89\nRicky trafficway\nEast Alicechester\n...
longitude                                                 53.00974
lat                                                           None
locality                                         Rhosllanerchrugog
store_code                                             RH-80D609C9
staff_numbers                                                 23.0
opening_date                                   2017-01-14 00:00:00
store_type                                                   Local
latitude                                                  -3.05814
country_code                                                    GB
Name: 441, dtype: object

In [98]:
filter.dropna(subset=['staff_numbers'], inplace=True)

C:\Users\mohdi\AppData\Local\Temp\ipykernel_22152\739824165.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter.dropna(subset=['staff_numbers'], inplace=True)

In [123]:
filter.to_csv("stores.csv", index= False)

In [152]:
filter.info()

<class 'pandas.core.frame.DataFrame'>
Index: 440 entries, 0 to 450
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          440 non-null    int64
 1   address        440 non-null    object
 2   longitude      440 non-null    object
 3   lat            1 non-null      object
 4   locality       440 non-null    object
 5   store_code     440 non-null    object
 6   staff_numbers  440 non-null    object
 7   opening_date   428 non-null    datetime64[ns]
 8   store_type     440 non-null    object
 9   latitude       439 non-null    object
 10  country_code   440 non-null    object
 11  continent      440 non-null    object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 60.9+ KB