In [1]:
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
from dateutil.parser import parse
import pandas as pd

In [2]:
connector = DatabaseConnector()
engine1, engine2 = connector.init_db_engine()

return_the_number_of_stores = "https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/number_stores"
retrieve_a_store = "https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/store_details/{store_number}"
headers = {'x-api-key': "yFBQbwXe9J3sd6zWVAMrK6lcxxr0q1lr2PT6DDMX"}

extractor = DataExtractor()
store_number = extractor.list_number_of_stores(return_the_number_of_stores)
store_df = extractor.retrieve_stores_data(store_number, retrieve_a_store)
print(store_df.info())

Retrieving stores dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          451 non-null    int64
 1   address        451 non-null    object
 2   longitude      451 non-null    object
 3   lat            11 non-null     object
 4   locality       451 non-null    object
 5   store_code     451 non-null    object
 6   staff_numbers  451 non-null    object
 7   opening_date   451 non-null    object
 8   store_type     451 non-null    object
 9   latitude       450 non-null    object
 10  country_code   451 non-null    object
 11  continent      451 non-null    object
dtypes: int64(1), object(11)
memory usage: 42.4+ KB
None

In [12]:
store_df.head(12)

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,N/A,N/A,N/A,N/A,WEB-1388012W,325,2010-06-12,Web Portal,None,GB,Europe
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,None,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,None,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,None,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,None,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
5,5,Flat 92u\nChristian harbors\nPort Charlotte\nN...,53.38333,None,Gainsborough,GA-CAD01AC2,36,1995-05-15,Local,-0.76667,GB,Europe
6,6,"7 Gillian rue\nWest Robertside\nPH4 8NY, Ruthe...",55.82885,None,Rutherglen,RU-C603E990,92,2001-01-04,Super Store,-4.21376,GB,Europe
7,7,"Lilija-Heß-Allee 660\n34566 Regensburg, Stuttgart",48.78232,None,Stuttgart,ST-229D997E,34,2000-06-01,Local,9.17702,DE,Europe
8,8,"510 Jill Mill\nSouth Laura, FL 38723, Kaukauna",44.27804,None,Kaukauna,KA-FA7ED3B8,31,2022-09-05,Local,-88.27205,US,America
9,9,"3 Lee valleys\nWest Janetview\nDY4M 2RL, Hartley",51.38673,None,Hartley,HA-974352FE,20,2004-09-11,Local,0.30367,GB,Europe
10,10,"8 Gareth skyway\nSimmonsview\nSW4 7PL, Rutherglen",55.82885,None,Rutherglen,RU-9F1136B4,32,October 2012 08,Local,-4.21376,GB,Europe
11,11,"Bergerstr. 1/3\n59183 Seelow, Siegburg",50.80019,None,Siegburg,SI-ECD52CD9,25,July 2015 14,Local,7.20769,DE,Europe

In [3]:
store_df.isna().mean()*100

index             0.000000
address           0.000000
longitude         0.000000
lat              97.560976
locality          0.000000
store_code        0.000000
staff_numbers     0.000000
opening_date      0.000000
store_type        0.000000
latitude          0.221729
country_code      0.000000
continent         0.000000
dtype: float64

In [8]:
store_df.continent.value_counts()

continent
Europe        383
America        32
eeEurope       24
NULL            3
eeAmerica       2
QMAVR5H3LD      1
LU3E036ZD9      1
5586JCLARW      1
GFJQ2AAEQ8      1
SLQBD982C0      1
XQ953VS0FG      1
1WZB1TE1HL      1
Name: count, dtype: int64

In [60]:
hag = store_df.copy()

In [61]:
hag.isna().mean()*100

index             0.000000
address           0.000000
longitude         0.000000
lat              97.560976
locality          0.000000
store_code        0.000000
staff_numbers     0.000000
opening_date      0.000000
store_type        0.000000
latitude          0.221729
country_code      0.000000
continent         0.000000
dtype: float64

In [59]:
dropped

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
63,63,6FWDZHD7PW,1ZVU03X2P6,13KJZ890JH,9IBH8Y4Z0S,NRQKZWJ9OZ,BIP8K8JJW2,ZCXWWKF45G,QP74AHEQT0,1CJ5OAU4BR,YELVM536YT,QMAVR5H3LD
172,172,UBCIFQLSNY,Q1TJY8H1ZH,2XE1OWOC23,1T6B406CI8,QIUU9SVP51,SKBXAXF5G5,7AHXLXIUEF,O0QJIRC943,3ZR3F89D97,FP8DLXQVGH,LU3E036ZD9
217,217,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
231,231,RC99UKMZB2,2YBZ1440V6,OXVE5QR07O,6LVWPU1G64,Y8J0Z2W8O9,2429OB3LMM,0OLAK2I6NS,50IB01SFAZ,L13EQEQODP,HMHIFNLOBN,5586JCLARW
333,333,X349GIDWKU,O7NF1FZ74Y,VKA5I8H32X,RX9TCP2RGB,ISEE8A57FE,74BY7HSB6P,A3PMVM800J,0RSNUU3DF5,J3BPB68Z1J,F3AO8V2LHU,GFJQ2AAEQ8
381,381,ZBGB54ID4H,SKO4NMRNNF,LACCWDI0SB,CQMHKI78BX,T0R2CQBDUS,GT1FO6YGD4,GMMB02LA9V,B4KVQB3P5Y,AJHOMDOHZ4,OH20I92LX3,SLQBD982C0
405,405,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
414,414,XTUAV57DP4,ID819KG3X5,A3O5CBWAMD,RY6K0AUE7F,TUOKF5HAAQ,FRTGHAA34B,13PIY8GD1H,X0FE7E2EOG,AE7EEW4HSS,OYVW925ZL8,XQ953VS0FG
437,437,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
447,447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL

In [62]:
hag.replace('NULL', float("NaN"), inplace= True)

In [65]:
hag.isna().mean()*100

index             0.000000
address           0.665188
longitude         0.665188
lat              98.226164
locality          0.665188
store_code        0.665188
staff_numbers     0.665188
opening_date      0.665188
store_type        0.665188
latitude          0.886918
country_code      0.665188
continent         0.665188
dtype: float64

In [66]:
hag.value_counts()

index  address     longitude   lat         locality    store_code  staff_numbers  opening_date  store_type  latitude    country_code  continent
63     6FWDZHD7PW  1ZVU03X2P6  13KJZ890JH  9IBH8Y4Z0S  NRQKZWJ9OZ  BIP8K8JJW2     ZCXWWKF45G    QP74AHEQT0  1CJ5OAU4BR  YELVM536YT    QMAVR5H3LD    1
172    UBCIFQLSNY  Q1TJY8H1ZH  2XE1OWOC23  1T6B406CI8  QIUU9SVP51  SKBXAXF5G5     7AHXLXIUEF    O0QJIRC943  3ZR3F89D97  FP8DLXQVGH    LU3E036ZD9    1
231    RC99UKMZB2  2YBZ1440V6  OXVE5QR07O  6LVWPU1G64  Y8J0Z2W8O9  2429OB3LMM     0OLAK2I6NS    50IB01SFAZ  L13EQEQODP  HMHIFNLOBN    5586JCLARW    1
333    X349GIDWKU  O7NF1FZ74Y  VKA5I8H32X  RX9TCP2RGB  ISEE8A57FE  74BY7HSB6P     A3PMVM800J    0RSNUU3DF5  J3BPB68Z1J  F3AO8V2LHU    GFJQ2AAEQ8    1
381    ZBGB54ID4H  SKO4NMRNNF  LACCWDI0SB  CQMHKI78BX  T0R2CQBDUS  GT1FO6YGD4     GMMB02LA9V    B4KVQB3P5Y  AJHOMDOHZ4  OH20I92LX3    SLQBD982C0    1
414    XTUAV57DP4  ID819KG3X5  A3O5CBWAMD  RY6K0AUE7F  TUOKF5HAAQ  FRTGHAA34B     13PIY8GD1H    X0FE7E2EOG  AE7EEW4HSS  OYVW925ZL8    XQ953VS0FG    1
447    K0ODETRLS3  K8CXLZDP07  UXMWDMX1LC  3VHFDNP8ET  9D4LK7X4LZ  D23PCWSM6S     36IIMAQD58    NN04B3F6UQ  JZP8MIJTPZ  B3EH2ZGQAV    1WZB1TE1HL    1
Name: count, dtype: int64

In [67]:
hag.continent.value_counts()

continent
Europe        383
America        32
eeEurope       24
eeAmerica       2
QMAVR5H3LD      1
LU3E036ZD9      1
5586JCLARW      1
GFJQ2AAEQ8      1
SLQBD982C0      1
XQ953VS0FG      1
1WZB1TE1HL      1
Name: count, dtype: int64

In [68]:
gibberish_values = ['QMAVR5H3LD', 'LU3E036ZD9', '5586JCLARW', 'GFJQ2AAEQ8', 'SLQBD982C0', 'XQ953VS0FG', '1WZB1TE1HL']
filtered_df = hag[~hag.continent.isin(gibberish_values)]
filtered_df

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,N/A,N/A,N/A,N/A,WEB-1388012W,325,2010-06-12,Web Portal,None,GB,Europe
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,None,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,None,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,None,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,None,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
445,445,"Flat 7\nStephanie lake\nMorrisside\nHP8 8LH, C...",50.76306,None,Cowes,CO-473A9FBB,94,2008-06-08,Super Store,-1.29772,GB,Europe
446,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,None,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
448,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,None,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,None,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,None,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [69]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 444 entries, 0 to 450
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          444 non-null    int64
 1   address        441 non-null    object
 2   longitude      441 non-null    object
 3   lat            1 non-null      object
 4   locality       441 non-null    object
 5   store_code     441 non-null    object
 6   staff_numbers  441 non-null    object
 7   opening_date   441 non-null    object
 8   store_type     441 non-null    object
 9   latitude       440 non-null    object
 10  country_code   441 non-null    object
 11  continent      441 non-null    object
dtypes: int64(1), object(11)
memory usage: 45.1+ KB

In [70]:
filtered_df.isna().mean()*100

index             0.000000
address           0.675676
longitude         0.675676
lat              99.774775
locality          0.675676
store_code        0.675676
staff_numbers     0.675676
opening_date      0.675676
store_type        0.675676
latitude          0.900901
country_code      0.675676
continent         0.675676
dtype: float64

In [74]:
filtered_df.drop('lat', axis = 1 , inplace= True)

C:\Users\mohdi\AppData\Local\Temp\ipykernel_20552\800011896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.drop('lat', axis = 1 , inplace= True)

In [75]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 444 entries, 0 to 450
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          444 non-null    int64
 1   address        441 non-null    object
 2   longitude      441 non-null    object
 3   locality       441 non-null    object
 4   store_code     441 non-null    object
 5   staff_numbers  441 non-null    object
 6   opening_date   441 non-null    object
 7   store_type     441 non-null    object
 8   latitude       440 non-null    object
 9   country_code   441 non-null    object
 10  continent      441 non-null    object
dtypes: int64(1), object(10)
memory usage: 41.6+ KB

In [78]:
filtered_df.continent.value_counts()

continent
Europe     407
America     34
Name: count, dtype: int64

In [77]:
filtered_df.continent.replace('eeEurope', 'Europe', inplace= True)
filtered_df.continent.replace('eeAmerica', 'America', inplace= True)

C:\Users\mohdi\AppData\Local\Temp\ipykernel_20552\1661455072.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.continent.replace('eeEurope', 'Europe', inplace= True)
C:\Users\mohdi\AppData\Local\Temp\ipykernel_20552\1661455072.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.continent.replace('eeAmerica', 'America', inplace= True)

In [79]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 444 entries, 0 to 450
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          444 non-null    int64
 1   address        441 non-null    object
 2   longitude      441 non-null    object
 3   locality       441 non-null    object
 4   store_code     441 non-null    object
 5   staff_numbers  441 non-null    object
 6   opening_date   441 non-null    object
 7   store_type     441 non-null    object
 8   latitude       440 non-null    object
 9   country_code   441 non-null    object
 10  continent      441 non-null    object
dtypes: int64(1), object(10)
memory usage: 41.6+ KB

In [81]:
fil = filtered_df.copy()

In [82]:
fil.dropna(how = 'all', axis= 0, inplace= True)

In [83]:
fil.info()

<class 'pandas.core.frame.DataFrame'>
Index: 444 entries, 0 to 450
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          444 non-null    int64
 1   address        441 non-null    object
 2   longitude      441 non-null    object
 3   locality       441 non-null    object
 4   store_code     441 non-null    object
 5   staff_numbers  441 non-null    object
 6   opening_date   441 non-null    object
 7   store_type     441 non-null    object
 8   latitude       440 non-null    object
 9   country_code   441 non-null    object
 10  continent      441 non-null    object
dtypes: int64(1), object(10)
memory usage: 41.6+ KB

In [95]:
fil.opening_date = pd.to_datetime(fil.opening_date).apply(parse)

ValueError: time data "October 2012 08" doesn't match format "%Y-%m-%d", at position 10. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [99]:
fil.opening_date = fil.opening_date.astype('datetime64[ns]')

In [101]:
fil.opening_date

0     2010-06-12
1     1996-10-25
2     2013-04-12
3     2014-01-02
4     2019-09-09
         ...
445   2008-06-08
446   2005-05-12
448   1998-05-14
449   2020-10-17
450   2001-05-12
Name: opening_date, Length: 444, dtype: datetime64[ns]

In [102]:
fil.staff_numbers.value_counts()

staff_numbers
20     18
33     17
29     16
28     16
7      16
       ..
128     1
76      1
58      1
56      1
61      1
Name: count, Length: 106, dtype: int64

In [104]:
fil.store_code.value_counts()

store_code
WEB-1388012W    1
BR-CACF7508     1
GA-D570038A     1
CH-7638016B     1
GI-718674C0     1
               ..
SU-5F78B30A     1
CL-DA5365DF     1
ME-9940FF73     1
BU-5B54171E     1
BA-B4AED588     1
Name: count, Length: 441, dtype: int64

In [110]:
fil.info()

<class 'pandas.core.frame.DataFrame'>
Index: 444 entries, 0 to 450
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          444 non-null    int64
 1   address        441 non-null    object
 2   longitude      441 non-null    object
 3   locality       441 non-null    object
 4   store_code     441 non-null    object
 5   staff_numbers  441 non-null    object
 6   opening_date   441 non-null    datetime64[ns]
 7   store_type     441 non-null    object
 8   latitude       440 non-null    object
 9   country_code   441 non-null    category
 10  continent      441 non-null    category
dtypes: category(2), datetime64[ns](1), int64(1), object(7)
memory usage: 35.8+ KB

In [106]:
fil.continent = fil.continent.astype('category')

In [109]:
fil.country_code = fil.country_code.astype('category')

In [121]:
fil.address.value_counts()

address
N/A                                                               1
98501 Emily Field Suite 577\nWest Michael, IN 29247, Brunswick    1
8 Baker orchard\nJoycestad\nS7 3XE, Gainsborough                  1
Kadestr. 0\n65793 Hildesheim, Charlottenburg-Nord                 1
Döringallee 7\n21119 Sankt Goarshausen, Gifhorn                   1
                                                                 ..
0 Wall cliff\nEast Kevin\nML7A 6LS, Surbiton                      1
Flat 7\nBond passage\nPort Katefurt\nCA9 5AX, Clacton-on-Sea      1
Eugenie-Pruschke-Straße 5\n31111 Badibling, Memmingen             1
Studio 7\nPatel motorway\nStevenburgh\nB0C 8JF, Bushey            1
Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, Bad Honnef          1
Name: count, Length: 441, dtype: int64