In [1]:
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
from dateutil.parser import parse
import pandas as pd

In [2]:
filepath = 'db_creds.yaml'
connector = DatabaseConnector()
extractor = DataExtractor()
credentials = connector.read_db_creds(filepath)
engine1, engine2 = connector.init_db_engine(credentials)

In [3]:
tables_in_database = connector.list_db_tables(engine1)
tables_in_database

['legacy_store_details', 'legacy_users', 'orders_table']

In [ ]:
table = extractor.read_rds_table('legacy_users', conn=engine1)

<class 'pandas.core.frame.DataFrame'>

In [ ]:
table

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,None,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
1,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,None,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
2,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,None,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
3,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,None,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
4,5,Flat 92u\nChristian harbors\nPort Charlotte\nN...,53.38333,None,Gainsborough,GA-CAD01AC2,36,1995-05-15,Local,-0.76667,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
446,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,None,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
447,447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL
448,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,None,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,None,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,None,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [ ]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          451 non-null    int64
 1   address        451 non-null    object
 2   longitude      451 non-null    object
 3   lat            11 non-null     object
 4   locality       451 non-null    object
 5   store_code     451 non-null    object
 6   staff_numbers  451 non-null    object
 7   opening_date   451 non-null    object
 8   store_type     451 non-null    object
 9   latitude       450 non-null    object
 10  country_code   451 non-null    object
 11  continent      451 non-null    object
dtypes: int64(1), object(11)
memory usage: 42.4+ KB

In [ ]:
df = table.copy()

In [1]:
df.isna().mean()*100

NameError: name 'df' is not defined

In [9]:
nulls = ['NULL']
mask = df[df.user_uuid.isin(nulls)]
mask

AttributeError: 'DataFrame' object has no attribute 'user_uuid'

In [12]:
df.replace('NULL', float("NaN"), inplace= True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15320 entries, 0 to 15319
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          15320 non-null  int64
 1   first_name     15299 non-null  object
 2   last_name      15299 non-null  object
 3   date_of_birth  15299 non-null  object
 4   company        15299 non-null  object
 5   email_address  15299 non-null  object
 6   address        15299 non-null  object
 7   country        15299 non-null  object
 8   country_code   15299 non-null  object
 9   phone_number   15299 non-null  object
 10  join_date      15299 non-null  object
 11  user_uuid      15299 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.4+ MB

In [17]:
df.dropna(axis=0, inplace= True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15299 entries, 0 to 15319
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          15299 non-null  int64
 1   first_name     15299 non-null  object
 2   last_name      15299 non-null  object
 3   date_of_birth  15299 non-null  object
 4   company        15299 non-null  object
 5   email_address  15299 non-null  object
 6   address        15299 non-null  object
 7   country        15299 non-null  object
 8   country_code   15299 non-null  object
 9   phone_number   15299 non-null  object
 10  join_date      15299 non-null  object
 11  user_uuid      15299 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.5+ MB

In [19]:
df.first_name = df.first_name.astype('string')
df.last_name = df.last_name.astype('string')
df.join_date = pd.to_datetime(df['join_date'],infer_datetime_format= True, errors= 'coerce')
df.date_of_birth = pd.to_datetime(df['date_of_birth'], infer_datetime_format= True, errors= 'coerce')
df.country = df.country.astype('string')
countries_to_keep = ['United Kingdom', 'Germany', 'United States']
df.country = df.country[df['country'].isin(countries_to_keep)]

C:\Users\mohdi\AppData\Local\Temp\ipykernel_13164\3583939629.py:3: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.join_date = pd.to_datetime(df['join_date'],infer_datetime_format= True, errors= 'coerce')
C:\Users\mohdi\AppData\Local\Temp\ipykernel_13164\3583939629.py:4: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.date_of_birth = pd.to_datetime(df['date_of_birth'], infer_datetime_format= True, errors= 'coerce')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15299 entries, 0 to 15319
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          15299 non-null  int64
 1   first_name     15299 non-null  string
 2   last_name      15299 non-null  string
 3   date_of_birth  15257 non-null  datetime64[ns]
 4   company        15299 non-null  object
 5   email_address  15299 non-null  object
 6   address        15299 non-null  object
 7   country        15284 non-null  string
 8   country_code   15299 non-null  object
 9   phone_number   15299 non-null  object
 10  join_date      15261 non-null  datetime64[ns]
 11  user_uuid      15299 non-null  object
dtypes: datetime64[ns](2), int64(1), object(6), string(3)
memory usage: 1.5+ MB

In [21]:
df.user_uuid

0        93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1        8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2        fc461df4-b919-48b2-909e-55c95a03fe6b
3        6104719f-ef14-4b09-bf04-fb0c4620acb0
4        9523a6d3-b2dd-4670-a51a-36aebc89f579
                         ...
15315    2bd3a12f-a92d-4cdd-b99c-fc70572db302
15316    d234c04b-c07c-46a5-a902-526f91478ecc
15317    1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318    187fe06e-bd5f-4381-af2f-d7ac37ca7572
15319    0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1
Name: user_uuid, Length: 15299, dtype: object

In [23]:
df.isna().mean()*100

index            0.000000
first_name       0.000000
last_name        0.000000
date_of_birth    0.274528
company          0.000000
email_address    0.000000
address          0.000000
country          0.098046
country_code     0.000000
phone_number     0.000000
join_date        0.248382
user_uuid        0.000000
dtype: float64

In [24]:
df.dropna(subset=['date_of_birth', 'join_date'], inplace= True)

In [25]:
df.isna().mean()*100

index            0.0
first_name       0.0
last_name        0.0
date_of_birth    0.0
company          0.0
email_address    0.0
address          0.0
country          0.0
country_code     0.0
phone_number     0.0
join_date        0.0
user_uuid        0.0
dtype: float64

In [26]:
df.head(100)

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,1,Guy,Allen,1940-12-01,Fox Ltd,rhodesclifford@henderson.com,Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH,United Kingdom,GB,(0161) 496 0674,2001-12-20,8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2,2,Harry,Lawrence,1995-08-02,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann drive\nJoanborough\nSK0 6LR,United Kingdom,GB,+44(0)121 4960340,2016-12-16,fc461df4-b919-48b2-909e-55c95a03fe6b
3,3,Darren,Hussain,1972-09-23,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadow\nNew Tracy\nW22 2QG,United Kingdom,GB,(0306) 999 0871,2004-02-23,6104719f-ef14-4b09-bf04-fb0c4620acb0
4,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-09-01,9523a6d3-b2dd-4670-a51a-36aebc89f579
...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,Oliver,Jacob,1949-11-11,Eimer,concettadrub@fritsch.net,Johannes-Drubin-Ring 9\n41950 Jessen,Germany,DE,(01756) 82716,2019-08-11,0bd028f1-02c0-4441-8535-299a2e8db939
96,96,Vitali,Löwer,1955-12-29,Knappe Linke Stiftung & Co. KGaA,gbeyer@trueb.de,Trubinweg 62\n43281 München,Germany,DE,(00632) 193546,2019-12-11,fd0d7355-892c-4192-b9ef-282ef3d8e6f6
97,97,Samantha,Patel,1976-03-11,Smith-Vincent,nashrobert@thompson.net,1 Ward estate\nLake Rogerside\nDH3 5HE,United Kingdom,GB,+44(0)1614960324,2015-12-25,aa9560a5-8f64-47e7-8fd7-a32846c790ca
98,98,Jasmine,Davies,1991-10-05,Shepherd-Patel,wilsoncharlene@singh.co.uk,Studio 9\nDanny square\nLindseybury\nCV27 8RP,United Kingdom,GB,+44(0)1174960171,1993-11-28,adb4bfee-9625-40f8-aaa7-53e54b58f274
99,99,Dean,Booth,1981-10-23,"Chapman, Russell and Thompson",griffithsdebra@clarke-pearce.net,177 Wood points\nWest Albert\nBN09 3AB,United Kingdom,GB,+44(0)1632960663,2014-01-26,87e945d4-bc8d-423c-b786-0cede8d0b159

In [31]:
df.join_date.value_counts()

join_date
2006-05-30    8
2015-10-14    7
2013-10-11    7
2007-08-08    7
2007-05-28    7
             ..
1998-06-09    1
2011-05-21    1
2012-05-18    1
1997-02-13    1
2015-08-28    1
Name: count, Length: 8222, dtype: int64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15234 entries, 0 to 15319
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          15234 non-null  int64
 1   first_name     15234 non-null  string
 2   last_name      15234 non-null  string
 3   date_of_birth  15234 non-null  datetime64[ns]
 4   company        15234 non-null  object
 5   email_address  15234 non-null  object
 6   address        15234 non-null  object
 7   country        15234 non-null  string
 8   country_code   15234 non-null  object
 9   phone_number   15234 non-null  object
 10  join_date      15234 non-null  datetime64[ns]
 11  user_uuid      15234 non-null  object
dtypes: datetime64[ns](2), int64(1), object(6), string(3)
memory usage: 1.5+ MB