In [1]:
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
from data_cleaning import DataCleaning
from dateutil.parser import parse
import pandas as pd

In [2]:
#intializing engine
connector = DatabaseConnector()
engine1, engine2 = connector.init_db_engine()

In [3]:
#extracting the card details from the cloud
extractor = DataExtractor()
pdf_path = 'https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf'
extracted_card_df = extractor.retrieve_pdf_data(pdf_path)
extracted_card_df.info()

c:\Users\mohdi\Miniconda3\envs\mrdc\Lib\site-packages\tabula\io.py:1045: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[c] = pd.to_numeric(df[c], errors="ignore")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15309 entries, 0 to 15308
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15309 non-null  object
 1   expiry_date             15309 non-null  object
 2   card_provider           15309 non-null  object
 3   date_payment_confirmed  15309 non-null  object
dtypes: object(4)
memory usage: 478.5+ KB

In [ ]:
# card_details = card_data.copy()
# card_details.date = pd.to_datetime(card_details.expiry_date, infer_datetime_format= True, errors= "coerce")
# # the above conversion was not efficient hence we use parse from dateutil
# card_details.expiry_date = card_details.expiry_date.apply(parse)
# card_details.expiry_date = pd.to_datetime(card_details.expiry_date, infer_datetime_format= True, errors= "coerce")
# card_providers_to_keep = ['VISA 16 digit','JCB 16 digit' , 'JCB 15 digit ', 'VISA 19 digit', 'Diners Club / Carte Blanche', 'American Express', 'Maestro', 'Discover', 'Mastercard' ]
# card_details.card_provider = card_details.card_provider[card_details.card_provider.isin(card_providers_to_keep)]
# print(f"unique card providers:\n{card_details.card_provider.value_counts()}")
# card_details.card_provider.dropna(inplace = True)
# null_cols_percent = card_details.isna().mean()*100
# print(f"percentage of nulls in each column:\n{null_cols_percent}")
#15284

In [4]:
# pd.set_option('display.max_columns', None)
print(extracted_card_df.date_payment_confirmed.head())
print(f"Value count is: \n{extracted_card_df.date_payment_confirmed.value_counts()}")

0    2015-11-25
1    2001-06-18
2    2000-12-26
3    2011-02-12
4    1997-03-13
Name: date_payment_confirmed, dtype: object
Value count is:
date_payment_confirmed
NULL          11
2009-12-20     8
1998-02-25     8
2017-03-31     7
2000-09-26     7
              ..
2016-09-18     1
2007-01-11     1
2021-07-09     1
2015-05-24     1
2009-02-04     1
Name: count, Length: 8270, dtype: int64

In [5]:

extracted_card_df.dropna(subset=['date_payment_confirmed'], inplace=True)

In [6]:
date_format = '%Y%m%d'
extracted_card_df.date_payment_confirmed = pd.to_datetime(extracted_card_df.date_payment_confirmed, format= date_format)
extracted_card_df.date_payment_confirmed = extracted_card_df.date_payment_confirmed.apply(parse)
extracted_card_df.date_payment_confirmed = pd.to_datetime(extracted_card_df.date_payment_confirmed, infer_datetime_format= True,  format= date_format)
print(extracted_card_df.date_payment_confirmed)

ValueError: time data "2015-11-25" doesn't match format "%Y%m%d", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [7]:
#checking for null values by masking
cols = ['NULL']
mask = extracted_card_df.date_payment_confirmed.isin(cols)
subset_df = extracted_card_df[mask]
subset_df

      card_number expiry_date card_provider date_payment_confirmed
377          NULL        NULL          NULL                   NULL
847          NULL        NULL          NULL                   NULL
884          NULL        NULL          NULL                   NULL
2418         NULL        NULL          NULL                   NULL
2489         NULL        NULL          NULL                   NULL
2830         NULL        NULL          NULL                   NULL
4196         NULL        NULL          NULL                   NULL
5686         NULL        NULL          NULL                   NULL
6024         NULL        NULL          NULL                   NULL
12876        NULL        NULL          NULL                   NULL
13708        NULL        NULL          NULL                   NULL